@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #d3cece;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  min-width: 200px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: yellow;
  transition: border-color 500ms ease;
  cursor: pointer;

  &:not(:first-child) {
    margin-left: 20px;
  }

  &:hover,
  &:focus {
    border-color: red;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1200px;
}
